<h1>All Songs</h1>
<hr/>

<% @song.each do |song| %>
  <div class="songs">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>

<hr/>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 
  <a href="/logout">Logout</a>
</button>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-music" aria-hidden="true"></span> 
  <a href="/songs/new">Put Up A New Song!</a>
</button>

