<!-- <h1>Put Up a New Song</h1> -->
<div class="page-header">
  <h1>Put Up A New Song </h1>
</div>

<hr/>
<!-- must have name=" " to get the data into the database so it's saved and on the main page -->
<form method="post" action="/songs/new">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Song :</span>
    <div class="short"><input type="text" class="form-control" placeholder="Song Title" name="title" aria-describedby="basic-addon1"></div>
  </div>
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Artist :</span>
    <div class="short"><input type="text" class="form-control" placeholder="Artist Name" name="author" aria-describedby="basic-addon1"></div>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Addy :</span>
    <div class="short"><input type="text" class="form-control" placeholder="URL Address" name="url" aria-describedby="basic-addon1"></div>
  </div>

  <button type="submit" value="Submit" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-ok" aria-hidden="Submit!"></span> Submit
  </button>
</form>

<!-- <div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->
