<h1>Sign Up</h1>

<div><p>
<h4>Choose a username and also a password</h4>
</p>
</div>

<form method="POST" action="/songs">
  <label for="username">Username:</label>
  <input name="username" type="text" />
  
  <label for="password">Password:</label>
  <input name="password" type="password" />  

  <input value="Login" type="submit" />
</form>

<!-- <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 
  <a href="/songs">And Go!</a>
</button> -->