<h1>Crummy Music Share</h1>
<hr/>

<div class="login">
  <h2> Log Yourself In </h2>
</div>

<!-- sending the data through POST to songs -->
<form method="POST" action="/login">
  <label for="username">Username:</label>
  <input name="username" type="text" />
  
  <label for="password">Password:</label>
  <input name="password" type="password" />  

  <input value="Login" type="submit" />
</form>

<div class="signup_redirect">
  <h3> Sign Up, Fool! </h3>
</div>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 
  <a href="/signup">Sign Up!</a>
</button>
